@font-face {
    font-family: "logo font";
    src: url(fonts/Norse-Bold.otf);
    font-style: normal;
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    color: rgb(30, 35, 35);
}

body {
    height: 100%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 100%;
    margin-top: 20px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.4); 
    width: 100%;

}

    
 .logo p{
    font-family: "logo font", serif;
    color: azure;
    font-size: 5.5rem;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    background-color: whitesmoke;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
    align-content: center;
    padding: 0 2.5rem 0 1.5rem;
    margin-top: 10.8rem;
    font-size: 1.5rem;
    font-weight: 700;
}


form {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 7px #1c1c1a;
    padding: 1.5rem;
}


form div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.submission {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
    padding: 1.5rem;
    gap: 10px;
    margin-bottom: 2rem;
}

button {
    padding: .4rem 1.9rem;
    font-size: large;
    color: rgba(240, 255, 255, 0.948);
    background-color: #596D48;
    border-radius: .5rem;
}



img {
    width: 100px;
    height: 100%;
}

label, input {
    display: block;
    height: 20px;
    width: 200px;
}

label {
    margin-top: 0px;
}

@media only screen and (min-width: 700px) {
    main {
        display: flex;
        height: 100%;
        position: relative;
        margin-top: 0px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        height: 100%;
        background-color: whitesmoke;
        position: absolute;
        right: 0;
        width: 60%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 12rem;
        width: 40%;
        
    }

    form div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        
    }
    
}