@font-face {
    font-family: "logo font";
    src: url(fonts/Norse-Bold.otf);
    font-style: normal;
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
   /* color: rgb(30, 35, 35); */
}

body {
    height: 100%;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: 100%;
    margin-top: 20px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.4); 
    width: 100%;

}

    
 .logo p{
    font-family: "logo font", serif;
    color: azure;
    font-size: 5.5rem;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    background-color: whitesmoke;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
    align-content: center;
    padding: 0 2.5rem 0 2.5rem;
    margin-top: .8rem;
    font-size: 1rem;
    font-weight: 700;
}


form {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 7px #1c1c1a;
    padding: 2rem;
    gap: .5rem;
}


form div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.submission {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
    padding: 0 0 0 1.5rem;
    gap: 10px;
    margin-bottom: 2rem;
}

button {
    padding: .4rem 1.9rem;
    font-size: large;
    color: rgba(240, 255, 255, 0.5);
    background-color: rgb(89, 109, 72);
    border-radius: .5rem;
}

button:hover {
    color: rgba(240, 255, 255);
}

span {
    color: rgb(255, 0, 0, .6);
}

span:hover {
    color: rgb(255, 0, 0);
}


img {
    width: 100px;
    height: 100%;
}

label, input {
    display: block;
    height: 20px;
    width: 200px;
}

input {
    outline: none;
}

label {
    margin-top: px;
}

input {
    border-radius: 5px;
    border: solid #E5E7EB;
}

:focus{
    outline: 0;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="password"]:focus {
    border-color: #dadcc4;
    box-shadow: 1px 1px 5px #2c2929;
}

input[type="password"]:invalid{
    border-color: red;
}

input + span {
    position: relative;
  }


input:invalid + span::after {
    content: "*Passwords do not match";
    color: red;
    font-size: 10px;
    position:absolute;
    width: 120px;
  }

input:valid {
    border-color: green;
}


@media only screen and (min-width: 700px) {
    main {
        display: flex;
        height: 100%;
        position: relative;
        margin-top: 0px;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        height: 100%;
        background-color: whitesmoke;
        position: absolute;
        right: 0;
        width: 60%;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 12rem;
        width: 40%;
        
    }

    .title {
        margin-top: 8rem;
    }

    form {
        height: 40%;
        flex: 1;
        padding: 2.5rem;
    }
    
    form div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        
    }

    label, input {
        height: 25px;
    }
    
}